*
{
    margin: 0;
   box-sizing: border-box;
   
}
.main_container
{
background-color: #AAD7D9;
height: 150%;
width: 50%;
border-radius: 20px;
position: absolute;
top: 20%;
left: 25%;

}
.section_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_header
{
    text-align: center;
    padding: 20px 0px;
}
.user_input_container
{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 500px;
}
.user_input
{
    border: #eeeeee 2px solid;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
}
.user_input_button{
     background-color: blueviolet;
     padding: 10px 20px;
     color: aliceblue;
     border-radius: 0px 5px 5px 0px;
     border: none;
     font-size:20px;
}
.list_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0px;
}
