*
{
    margin: 0;
   box-sizing: border-box;
   
}
.main_container
{
background-color: #AAD7D9;
height: 150%;
width: 50%;
border-radius: 20px;
position: absolute;
top: 20%;
left: 25%;
}
.title
{
    position: absolute;
    top: 10%;
    left: 40%;
    color: black;
}
.input
{
    position: absolute;
top: 15%;
left: 35%;
height: 4%;
width: 35%;
border-radius: 10% solid black;
border: black;
}
.icon
{
    position: absolute;
    top: 15%;
    left: 70%;  
    height: 4%;
width: 6%;
background-color: blueviolet;
}
.todoListContainer
{
    background-color: white;
    padding: 20px 20px;
    height: 8%;
    width:60%;
    margin-top: 5%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.todolistmain{
    margin-top: 30%;
}
